@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box
}

#diarylist{
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-top: 2rem;
    border-radius: 5px;
    min-height: 120px;
}

#diary-section-one{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.diary-edit{

}

.diary-delete{

}

#diary-section-two{
    display: flex;
    flex: 2;
}

.diary-title{
    flex: 3;
}

.diary-date-emoji{
    display: flex;
    flex: 1;
}

.diary-date{
    flex: 1
}

.diary-emoji{
    flex: 1
}

#diary-section-three{
    display: flex;
    flex: 3;
}